.default-input {
    margin: 10px;
    border-radius: 5px;

    width: 100%;
    max-width: 400px;

    padding: 5px;
}

.save-button {
    background-color: rgb(98, 132, 149);
    
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.add-button {
    background-color: rgb(201, 177, 210);

    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.save-button:disabled {
    background-color: rgb(169, 196, 209);
}